
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">{{tarea?.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content class="container">
    <img src="https://us.123rf.com/450wm/deeaf/deeaf1505/deeaf150500133/40517340-palabra-tarea-en-la-p%C3%A1gina-del-cuaderno.jpg">
    <div class="date">
     <strong style="color: #61385b">Fecha:  </strong><span>{{tarea?.dia}}/{{tarea?.mes}}/{{tarea?.anio}}</span>
    </div>
    <p><strong style="color: #61385b">Descripcion: </strong>{{tarea?.descripcion}}</p>
  </ion-card-content>
</ion-content>
