*{
  font-family: "Century Gothic";
}
.title{
    --color:white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
 }
 ion-button{
   --border-color:var(--background);
 }
 ion-card-title{
    font-size: 18px;
    color: #494749;
    font-weight: bolder;
    width:200px;
    white-space: nowrap; 
    margin-bottom: 1%;
 }

 ion-toolbar{
   position:static;
    --background: #92698c;
    --border-width: 0 0  2px 0;
    --border-color: white;
    margin-bottom: 5rem;
 }
 ion-content{
   height:60vh;
 }

 .container{
     border: 2px solid #774f72;
     background: white;
     margin-bottom: 2%;
     height: 100;
     margin-left: 4%;
     margin-right: 4%;
 }

 .details-button{
     --background: #92698c;
     --border: 1px block #92698c;
     color:  white;
     font-weight: bolder;
     font-size: 18px;
     width: 95%;
 
 }
 .date{
    color: #61385b;
    font-size: 18px;
    margin-bottom: 1%;
 }
 .date strong{
    color:black;
 }
 ion-fab-button{
    border-radius: 50%;
    position: absolute;
    font-size: 2rem;
    right: 2%; 
    bottom: 5%;
    --color: white;
    font-weight: bolder;
    --background: #92698c;
 }
 ion-button{
   --background:none;
 }

 ion-icon{
   font-size: 200%;
   --background: none;
   color:#61385b;
   --border:none;
   font-weight: bolder;
 }

 .box{
   display: flex;
   justify-content: right;
   height: 30px;
 }
 .footer-box{
   display: flex;
 }