<ion-content fullscreen >
  <ion-header>
    <ion-toolbar>
      <ion-title class="title">Mi App de Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

   <div *ngFor="let tareaServicio of tareaServicioArray; index as i">
     <ion-card-content class="container">
       <ion-card-title>{{tareaServicio.titulo}}</ion-card-title>
           <div class="date">
              <span><strong>Fecha: </strong>{{tareaServicio.dia}}/{{tareaServicio.mes}}/{{tareaServicio.anio}}</span>
           </div>
        <div class="footer-box">
           <ion-button fill="outline" class="details-button" shape="round" expand="block" [routerLink]="['/tarea-detalle',i]" >+ Ver más detalles</ion-button> 
         <div class="box">
          <ion-button color="danger" fill="clear" (click)="eliminarTarea(i)">
            <ion-icon color="danger" name="trash"></ion-icon>
          </ion-button>
         </div>
        </div>
      </ion-card-content>
    </div>

<ion-fab-button  (click)="mostrarFormulario()" position="end">+</ion-fab-button>
