
.title{
    --color:white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
 }
 ion-card-title{
    font-size: 18px;
    color: #61385b;
    font-weight: bolder;
 }

 ion-toolbar{
   position:static;
    --background: #61385b;
    --border-width: 0 0  2px 0;
    --border-color: white;
    margin-bottom: 5rem;
 }
 ion-content{
   --background:#774f72;
   height:60vh;
 }
 .list{
     background: #995890;
     width: 100%;
     margin-bottom: 0;
     height: 100vh;
     display: block;
 }
 .container{
   
     background: white;
     margin-bottom: 2%;
     height: 100;
     width: 96%;
     margin-left: 2%;
     margin-right: 2%;
 }

 .details-button{
     --background: #D9D9D9;
     color:  #61385b;
     font-weight: bolder;
     font-size: 18px;
     --text-align: left ;
 
 }
 .date{
    color: #61385b;
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 1%;
 }
 .date strong{
    color:black;
 }
 ion-fab-button{
    outline: 5px dotted white;
    outline-offset: -2px;
    border-radius: 50%;
    position: absolute;
    font-size: 2rem;
    right: 2%; 
    bottom: 5%;
    --color: white;
    font-weight: bolder;
    --background:#2489e7;
 }